div{
    width: 70px;
    height: 30px;
    background-color: rgb(200, 240, 140);
    color: white;
    text-align: center;
    margin: 30px 0 0px 50px;
    padding-top: 10px;
    border-radius: 10px;
}

div:hover{
    width: 140px;
    height: 70px;
    background-color: rgb(101, 211, 255);
    color: white;
}